.individual-product {
    display: flex;
    padding: 1rem 5rem;
    gap: 2rem;
}

.product-showcase {
    display: flex;
    gap: 1rem;
}
.mini-picture {
    width: 8rem;
    height: 8rem;
    object-fit: contain;
}
.mini-pictures {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    height: 55rem;
    width: 9rem;
    overflow: auto;
}

.big-picture {
    width: 55rem;
    height: 55rem;
    object-fit: contain;
}

.out-of-stock-sign-pdp {
    position: absolute;
    font-size: 3rem;
    font-weight: 700;
    top: 25rem;
    left: 30rem;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: rgb(199, 199, 199);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(194, 194, 194);
}

.product-brand {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}

.product-name {
    font-size: 1.5rem;
}

.price-text {
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.2rem;
}

.product-price {
    font-size: 1.2rem;
}

.add-to-cart-button {
    background-color: var(--primary-color);
    width: 20rem;
    height: 4rem;
    cursor: pointer;
    color: var(--white);
    border: none;
    font-weight: 700;
    font-size: 1rem;
}

.product-description {
    margin-top: 1rem;
    font-size: 1.2rem;
    height: 12rem;
    width: 100%;
    height: 30rem;
    overflow: auto;
}
@media (max-width: 1450px) {
    .big-picture {
        width: 40rem;
        height: 40rem;
    }
    .mini-pictures {
        height: 40rem;
        width: 9rem;
    }
    .add-to-cart-button {
        width: 15rem;
    }
    .product-description {
        height: 20rem;
    }
    .out-of-stock-sign-pdp {
        top: 20rem;
        left: 25rem;
    }
}

@media (max-width: 1200px) {
    .big-picture {
        width: 25rem;
        height: 25rem;
    }
    .mini-pictures {
        height: 25rem;
        width: 9rem;
    }
    .out-of-stock-sign-pdp {
        top: 15rem;
        left: 20rem;
        font-size: 2rem;
    }
}

@media (max-width: 970px) {
    .big-picture {
        width: 30rem;
        height: 30rem;
    }
    .mini-pictures {
        height: 30rem;
        width: 9rem;
    }
    .individual-product {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .out-of-stock-sign-pdp {
        top: 18rem;
        left: 22rem;
    }
}

@media (max-width: 680px) {
    .individual-product {
        padding: 1rem 2rem;
    }

    .big-picture {
        width: 12rem;
        height: 12rem;
    }
    .mini-pictures {
        height: 12rem;
    }

    .product-data {
        width: 90%;
    }
    .out-of-stock-sign-pdp {
        top: 10rem;
        left: 21rem;
        font-size: 1rem;
    }
}

@media (max-width: 400px) {
    .out-of-stock-sign-pdp {
        top: 11rem;
        left: 11rem;
    }
}
