.individual-product {
    display: flex;
    padding: 1rem 3rem;
}

.product-showcase {
    display: flex;
    gap: 1rem;
}

.mini-pictures {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    height: 40rem;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: rgb(199, 199, 199);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(194, 194, 194);
}

.mini-picture {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.big-picture {
    width: 40rem;
    height: auto;
    object-fit: contain;
    height: 40rem;
}

.product-brand {
    font-size: 2rem;
    font-weight: 700;
}

.product-name {
    font-size: 1.5rem;
}
