#cartOverlay {
    width: 33rem;
    right: -11rem;
    background-color: var(--white);
    align-items: flex-start;
    padding: 1rem;
    overflow-y: auto;
    gap: 0.5rem;
    height: auto;
}

.bag-count {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.cart-overlay-item-container {
    width: 100%;
    height: 28rem;
    overflow: auto;
}

.cart-overlay-total-price {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.bag-and-checkout-buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.cart-overlay-action-buttons {
    cursor: pointer;
    width: 10rem;
    height: 3rem;
    border: none;
    font-size: 1rem;
    font-weight: 700;
}

#viewBagButton {
    border: 1px solid var(--black);
    background-color: var(--white);
    color: var(--black);
    transition: background-color 0.3s ease-in-out;
}

#viewBagButton:hover {
    border: 1px solid var(--white);
    color: var(--white);
    background-color: var(--black);
}

#checkOutButton {
    background-color: var(--primary-color);
    color: var(--white);
}

#checkOutButton:hover,
#viewBagButton:hover {
    opacity: 0.8;
}

@media (max-width: 700px) {
    #cartOverlay {
        width: 25rem;
        right: -8rem;
    }
}

@media (max-width: 500px) {
    #cartOverlay {
        width: 20rem;
        right: -8rem;
    }
    .cart-overlay-action-buttons {
        font-size: 0.8rem;
        width: 6rem;
        height: 3rem;
    }
}
