.cart {
    flex-direction: column;
    padding: 1rem 0;
}

.cart-item {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.cart-text {
    font-size: 1.5rem;
}

.title-container {
    display: flex;
    justify-content: flex-start;
    width: 90%;
}

.line-break {
    background-color: #e5e5e5;
    width: 90%;
    height: 1px;
    border-radius: 10px;
}

.cart-item-carousel-and-buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cart-attribute-button {
    font-family: "Source Sans Pro", sans-serif;
    width: 65px;
    height: 45px;
    border: 1px solid #1d1f22;
    background-color: var(--white);
}

.cart-item-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 15rem;
}

.summary-item {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.cart-summary {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
}

.carousel-container {
    position: relative;
}

.carousel-buttons {
    position: absolute;
    z-index: 999;
    bottom: 10px;
    right: 10px;
    gap: 0.5rem;
}

.carousel-button {
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-color: var(--black);
    color: var(--white);
    border: 0.5px solid var(--black);
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-button:hover {
    background-color: #434343;
}

.cart-is-empty {
    gap: 0.3rem;
}

.cart-is-empty-link {
    font-weight: 700;
}
