.cart-overlay-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    cursor: default;
    height: 100%;
}

.cart-overlay-item-data {
    display: flex;
    flex-direction: column;
    width: 40%;
}
.individual-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mini-attribute-button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
}

.mini-attribute-button {
    font-weight: 700;
    font-family: "Source Sans Pro", sans-serif;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #a6a6a6;
}

#miniAttributeColorButton {
    width: 30px;
    height: 30px;
}

.bold-text {
    font-weight: 700;
}

.cart-overlay-buttons {
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cart-overlay-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    color: var(--black);
    font-size: 25px;
    width: 30px;
    height: 30px;
    border: 1px solid var(--black);
}

.cart-overlay-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
