#cartOverlay {
    width: 500px;
    right: -160px;
    background-color: var(--white);
    align-items: flex-start;
    padding: 1rem;
    overflow: auto;
    gap: 0.5rem;
    height: auto;
}

.bag-count {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.cart-overlay-total-price {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
